/* 
    Created on : 28 dec. 2013, 12:58:35
    Author     : LEFEBVRE Julien
*/

body{
    background: url(../image/font.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    color: white;
}

#container {
    margin: auto;
    padding: 0px;
    width: 960px;
}



/*********************************  HEADER  ***********************************/

#header{
    position: relative;
}

.logo{
    margin: 0px;
}

#menu{
    position: absolute;
    right: 0px;
    top: 80px;
}

#menu a{
   text-decoration: none;
   color: white;
}

#menu div{
    display: inline;
    display: inline-block;
    margin-left: 10px;
}

/******************************  FIN DU HEADER  *******************************/

.formpage{
    box-shadow: 1px 1px 15px rgba(0,100,255, 0.5);
    border-radius: 10px;
    background: linear-gradient(to right, black, rgba(0,0,0,0.5));
    border: solid 1px white;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;;
    padding: 50px;
    width: 600px;
}

.formpage h3{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.greyc{
    color: grey;
}

.menuAdmin{
    margin: auto;
    width: 900px;
    padding-top: 160px; 
    padding-bottom: 100px; 
}

.category{
    box-shadow: 1px 1px 15px rgba(0,100,255, 0.5);
    border: solid 2px white;
    border-radius: 10px;
    background: linear-gradient(to bottom, black, rgba(0,0,0,0.7));
    width: 300px;
    text-align: center;
    padding: 2px;
    padding-bottom: 20px;
    float: left;
    margin-left: 10%; 
}

.category h2{
    padding-bottom: 20px;
}

.category a{
    color: white;
}

.category h4{
    border-radius: 10px;
    color: white;
}

.product{
    box-shadow: 1px 1px 15px rgba(0,100,255, 0.5);
    border: solid 2px white;
    border-radius: 10px;
    background: linear-gradient(to bottom, black, rgba(0,0,0,0.7));
    width: 300px;
    text-align: center;
    margin-right: 10%;
    padding: 2px;
    padding-bottom: 20px;
    float: right;
}

.product h2{
    padding-bottom: 20px;
}

.product a{
    color: white;
}

.product h4{
    border-radius: 10px;
    color: white;
}

.grey{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.clear{
    clear: both;
}

.white{
    color: white;
}

.msgform{
    background: black;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    color: red;
    padding: 10px;
    text-align: center;
}


/*******************************  PAGE ADMIN  *********************************/
#corp{
    clear: both;
    position: relative;
    top: 100px;
    
}

#left{
    float: left;
}

#left div{
    margin-bottom: 65px;
}

#welcome{
    background-color: black;
    position: absolute;
    width: 400px;
    height: 600px;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    border: solid 1px white;
    box-shadow: 1px 1px 30px rgba(0,100,255, 0.5);
}

#aside{
    margin-top: 0px;
    width: 300px;
    left: 650px;
    position: absolute;
    text-align: center;
    
}
/******************************* PAGE 404 *************************************/

.page404{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-top: 20%;
    text-shadow: 2px 2px 4px white;
}

.pi{
    font-family: Georgia;
    font-size: 80px;  
    color: yellow;
    font-weight: bold;
}

.e404{
    font-size: 60px;
    color: blue;
    font-weight: bold;
}

/**************************** slide *******************************************/

#slider {
    box-shadow: 1px 1px 30px rgba(255,255,255, 0.5);
    border-radius: 20px;
    width:960px;
    height:250px;
	
    /*IE bugfix*/
    padding:0;
    margin:0;
}
		
#slider li { list-style:none; }
	
#page {
    border-radius: 20px;
    width: 960px;
    margin-top: 100px;
    margin-bottom: 80px;
}

/****************************  CARTE DU RESTO  ********************************/

#liste{
    box-shadow: 1px 1px 30px rgba(0,100,255, 0.5);
    border-radius: 30px;
    width: 960px;
    position: relative;
    border: solid 1px white;
    margin-top: 80px;
    padding-top: 30px;
    background-color: black;
    font-size: 17px;
}

.copyright{
    margin-left: 360px;
    clear: both;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.cr400{
    width: 400px;
}

.cr600{
    width: 600px;
}

.cr800{
    width: 800px;
}

.crMax{
    width: 960px;
}

.crBleu{
    box-shadow: 1px 1px 8px rgba(255,255,255, 0.3);
    background: linear-gradient(to bottom, rgb(0,80,160), rgb(0,5,50));
    border-radius: 10px;
    margin: auto;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.crBleu2{
    box-shadow: 1px 1px 8px rgba(255,255,255, 0.3);
    background: linear-gradient(to bottom, rgb(0,80,160), rgb(0,5,50));
    border-radius: 10px;
    margin: auto;
    color: white;
    height: 180px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.titreContact{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 40px;
}

.crJaune{
    box-shadow: 1px 1px 8px rgba(255,255,255, 0.3);
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(50,50,50));
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.crBlanc{
    box-shadow: 1px 1px 8px rgba(255,255,255, 0.3);
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(50,50,50));
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.crRouge{
    box-shadow: 1px 1px 8px rgba(255,255,255, 0.3);
    background: linear-gradient(to bottom, rgb(255,0,0), rgb(100,0,0));
    border-radius: 10px;
    margin: auto;
    width: 600px;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.ligne{
    width: 960px;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    display: inline;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

#liste h2{
    text-align: center;
    color: gold;
    padding: 0px;
    margin: 0px;
}

.grey{
    background-color: #101010;
}

.titre{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: gold;
}

.nom{
    font-weight: bold;
    margin: 0px;
    width: 130px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
}

.marge{
    height: 100px;
}

.descri{
    text-align: center;
    width: 370px;
}

.bleu{
    color: #269abc;
}

.price{
    text-align: center;
    width: 60px;
}

.fright{
     float: right;
}

.fleft{
    float: left;
}

.img{
    width: 330px;
    text-align: center;
}

/**************************  FIN CARTE DU RESTO  ******************************/



/********************************  FOOTER  ************************************/

#footer{
    clear: both;
    position: relative;
    padding-top: 150px;
    padding-bottom: 20px;
}

.mini{
  padding: 10px;
  border: solid 1px white;
  box-shadow: 1px 1px 15px rgba(255,255,0, 0.5);
}

.m{margin-right: 17px;}

.center{
    text-align: center;
}

/*****************************  FIN FOOTER ************************************/


/***************************  FACEBOOK API  ***********************************/
#facebook{
    margin-bottom: 30px;
    padding: 0px;
    background: white;
    float: right;
}

/************************  FIN FACEBOOK API  **********************************/




/*************************  GOOGLE MAP API  ***********************************/
#map-canvas{
    border-radius: 30px;
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 500px;
    float: right;
    
}

/************************  FIN GOOGLE MAP API  ********************************/